/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
/*Basic reset using the universal selector
Some browsers add margin or padding by default to elements and we don't want that.
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
}

.header {
    /*95% of the viewport height*/
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        #7ed56fcc,
        #28b485cc),
        url("../img/hero.jpg");
    background-size: cover;
    /*
    When you strech the viewport the top of the image will remain visible and the rest of the photo will dissapear
    */
    background-position: top;
    /*
    give the coordinates of 4 points
    x axis (horizontal) first and then the y axis (vertical)
    */
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}